/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
laravel.env
laravel.env.backup
laravel.env.production
laravel.phpunit.result.cache
laraveldocker-compose.override.yml
laravelHomestead.json
laravelHomestead.yaml
laravelnpm-debug.log
laravelyarn-error.log
laravelcomposer.lock
laravel.idea
